<div class="container mt-4">
  <!-- Barre de recherche -->
  <div class="text-center mb-3">
    <input type="text" class="form-control d-inline-block" placeholder="Rechercher..." (input)="applyFilter($event.target.value)">
  </div>
  
  <!-- Filtrage par type de stage -->
  <div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtrer par type de stage
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="applyFilter('Tous les types')">Tous les types</a>
    </div>
  </div>
  
  <!-- Liste des offres -->
  <div *ngFor="let entreprise of offresByEntreprise | keyvalue" class="entreprise">
    <div class="entreprise-header bg-light p-3 mb-3 rounded">
      <h3 class="text-dark">{{ entreprise.key }}</h3>
      <div class="entreprise-details">
        
        <img [src]="entreprise.value[0]?.image" alt="Logo entreprise" class="max-width: 100px; border-radius: 5px;">
        <span class="text-muted">{{ entreprise.value.length }} offres disponibles</span>
      </div>
    </div>
    <ul class="list-group">
      <li *ngFor="let offre of entreprise.value" class="list-group-item mb-3">
        <div class="offre-details">
          <div>
            <strong>Nom de l'entreprise:</strong> {{ offre.nomEntreprise }}
          </div>
          <div>
            <strong>Description:</strong> {{ offre.description }}
          </div>
          <div>
            <strong>Nom de l'encadrant:</strong> {{ offre.nomEncadrant }}
          </div>
          <div>
            <strong>Prénom de l'encadrant:</strong> {{ offre.prenomEncadrant }}
          </div>
          <div>
            <strong>Email:</strong> {{ offre.email }}
          </div>
          <div>
            <strong>Date début stage:</strong> {{ offre.datedebut_stage | date: 'dd/MM/yyyy' }}
          </div>
          <div>
            <strong>Date fin stage:</strong> {{ offre.datefin_stage | date: 'dd/MM/yyyy' }}
          </div>
          <div>
            <strong>Durée (jours):</strong> {{ offre.duree }}
          </div>
          <div>
            <strong>Type de Stage:</strong> {{ offre.type }}
          </div>
          <button (click)="postuler(offre)" class="btn btn-primary mt-2">Postuler</button>
        </div>
      </li>
    </ul>
  </div>
</div>
