<div class="container mt-4">
  <div class="card border-dark">
    <div class="card-header bg-dark text-white">
      <h1 class="mb-0">Postuler</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="demandeForm" (ngSubmit)="submitDemande()" enctype="multipart/form-data">

        <div class="form-group">
          <label for="titre">Titre:</label>
          <input type="text" id="titre" formControlName="titre" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description" class="form-control" rows="4" required></textarea>
        </div>

        <div class="form-group">
          <label for="etat">Etat:</label>
          <input type="text" id="etat" formControlName="etat" class="form-control">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="studentName">Student Name:</label>
            <input type="text" id="studentName" formControlName="studentName" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="studentEmail">Student Email:</label>
            <input type="email" id="studentEmail" formControlName="studentEmail" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="offre">Sélectionner une offre :</label>
          <select id="offre" formControlName="offre" class="form-control" required>
            <option value="" disabled selected>Choisissez une offre</option>
            <option *ngFor="let offre of offres" [value]="offre.idOffre">{{ offre.type }}</option>
          </select>
        </div>
        

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cvPath">CV:</label>
            <input formControlName="cvPath" type="file" name="cvPath" class="form-control-file text-dark" (change)="onFileSelected($event)" />
          </div>
          <div class="form-group col-md-6">
            <label for="lettreMotivation">Lettre de Motivation:</label>
            <input formControlName="lettreMotivation" type="file" name="lettreMotivation" class="form-control-file text-dark" (change)="onFileSelected1($event)" />
          </div>
        </div>

        <button type="submit" class="btn btn-danger mt-4">Submit</button>
      </form>
    </div>
  </div>
</div>
