<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Form Validation" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bootstrap Validation - Normal</h4>
          <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p>

          <form (ngSubmit)="validSubmit()" [formGroup]="StudentForm">
            <div class="row">
              <div class="col-md-4">
               <div class="mb-3">
                   <label for="firstName">First name</label>
                      <input type="text" class="form-control" id="firstName" formControlName="firstName" 
                      [ngClass]="{ 'is-invalid': submit && form.firstName.errors}" placeholder="Entre votre email">
                      <div *ngIf="submit && form.firstName.errors" class="invalid-feedback">
                        <div *ngIf="form.firstName.errors.required">First Name requis</div>
                    </div>
                     </div>                 
               </div>
               <div class="col-md-4">
              <div class="mb-3">
                <label for="lastName">Last name</label>
                   <input type="text" class="form-control" id="lastName" formControlName="lastName" 
                   [ngClass]="{ 'is-invalid': submit && form.lastName.errors}" placeholder="Entre votre email">
                   <div *ngIf="submit && form.lastName.errors" class="invalid-feedback">
                    <div *ngIf="form.lastName.errors.required">Last Name requis</div>
                </div>               
              </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="phoneNumber">Phone Number</label>
                     <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" 
                     [ngClass]="{ 'is-invalid': submit && form.phoneNumber.errors}" placeholder="Entre votre email">
                     <div *ngIf="submit && form.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="form.phoneNumber.errors.required">Phone Number requis</div>
                  </div>             
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="cin">Card ID</label>
                       <input type="text" class="form-control" id="cin" formControlName="cin" 
                       [ngClass]="{ 'is-invalid': submit && form.cin.errors}" placeholder="Entre votre email">
                       <div *ngIf="submit && form.cin.errors" class="invalid-feedback">
                        <div *ngIf="form.cin.errors.required">Card ID requis</div>
                    </div>             
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="emailPro">Professional email</label>
                         <input type="email" class="form-control" id="emailPro" formControlName="emailPro" 
                         [ngClass]="{ 'is-invalid': submit && form.emailPro.errors}" placeholder="Entre votre email">
                         <div *ngIf="submit && form.emailPro.errors" class="invalid-feedback">
                          <div *ngIf="form.emailPro.errors.required">University ID requis</div>
                      </div>            
                    </div>
                    </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="login">Login</label>
                         <input type="email" class="form-control" id="login" formControlName="login" 
                         [ngClass]="{ 'is-invalid': submit && form.login.errors}" placeholder="Entre votre email">
                         <div *ngIf="submit && form.login.errors" class="invalid-feedback">
                          <div *ngIf="form.login.errors.required">Login requis</div>
                      </div>                
                    </div>
                    </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="address">Address</label>
                     <input type="text" class="form-control" id="address" formControlName="address" 
                     [ngClass]="{ 'is-invalid': submit && form.address.errors}" placeholder="Entre votre email">
                     <div *ngIf="submit && form.address.errors" class="invalid-feedback">
                      <div *ngIf="form.address.errors.required">Address requis</div>
                  </div>         
                </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="company">Company</label>
                       <input type="text" class="form-control" id="company" formControlName="company" 
                       [ngClass]="{ 'is-invalid': submit && form.company.errors}" placeholder="Entre votre email">
                       <div *ngIf="submit && form.company.errors" class="invalid-feedback">
                        <div *ngIf="form.company.errors.required">Address requis</div>
                    </div>         
                  </div>
                  </div>
              
            </div>
            <div class="text-center mb-4">
              <div class="position-relative d-inline-block">
                <div class="position-absolute bottom-0 end-0">
                  <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Member Image">
                    <div class="avatar-xs">
                      <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                        <i class="bx bxs-image-alt"></i>
                      </div>
                    </div>
                  </label>
                  <input class="form-control d-none" value="" id="member-image-input" type="file" accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                </div>
                <div class="avatar-lg">
                  <div class="avatar-title bg-light rounded-circle">
                    <img src="assets/images/users/user-dummy-img.jpg" id="member-img" class="avatar-md rounded-circle h-auto" />
                  </div>
                </div>
              </div>
              </div>
          <div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
          </form>
        </div>
      </div>
      <!-- end card -->
    </div> <!-- end col -->
  </div>
  <!-- end row -->
</div>

