<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
       
        <div class="card-body border-bottom">
          <div class="row g-3">
           
         
           
         
          
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Job Title</th>
                  <th scope="col">Company Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Experience</th>
                  <th scope="col">Position</th>
                  <th scope="col">Type</th>
                  <th scope="col">Posted Date</th>
                  <th scope="col">Last Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="badge" ></span></td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                        <a routerLink="/jobs/details" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" ><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" ><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-auto me-auto">
            </div>
            <div class="col-auto">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                </ul>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Details Model -->
<ng-template #ViewContent role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Order Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <p class="mb-2">
      Product id:
      <span class="text-primary">#SK2540</span>
    </p>
    <p class="mb-4">
      Billing Name:
      <span class="text-primary">Neal Matthews</span>
    </p>
    <div class="table-responsive">
      <table class="table table-centered table-nowrap">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-7.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                <p class="text-muted mb-0">$ 225 x 1</p>
              </div>
            </td>
            <td>$ 255</td>
          </tr>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-4.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                <p class="text-muted mb-0">$ 145 x 1</p>
              </div>
            </td>
            <td>$ 145</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Sub Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Shipping:</h6>
            </td>
            <td>Free</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Jobs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="jobListForm">
    <div class="modal-body">
      <input type="hidden" name="id" value="" formControlName="ids" />
      <div class="mb-3">
        <label for="customername-field" class="form-label">Jobs Title</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required formControlName="title" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }" />
        <div *ngIf="submitted && form['title'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['title'].errors['required']">Jobs Title is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Company Name</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
        <div *ngIf="submitted && form['name'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['name'].errors['required']">Company Name is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Location</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Location" required formControlName="location" [ngClass]="{ 'is-invalid': submitted && form['location'].errors }" />
        <div *ngIf="submitted && form['location'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['location'].errors['required']">Location is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Experience</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Experience" required formControlName="experience" [ngClass]="{ 'is-invalid': submitted && form['experience'].errors }" />
        <div *ngIf="submitted && form['experience'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['experience'].errors['required']">Experience is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Position</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Position" required formControlName="position" [ngClass]="{ 'is-invalid': submitted && form['position'].errors }" />
        <div *ngIf="submitted && form['position'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['position'].errors['required']">Position is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="payment-field" class="form-label">Type</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="type" [ngClass]="{ 'is-invalid': submitted && form['type'].errors }">
          <option value="">Type</option>
          <option value="Full Time">Full Time</option>
          <option value="Part Time">Part Time</option>
        </select>
        <div *ngIf="submitted && form['type'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['type'].errors['required']">Type is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="payment-field" class="form-label">Status</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="status" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
          <option value="">Status</option>
          <option value="Active">Active</option>
          <option value="New">New</option>
          <option value="Close">Close</option>
        </select>
        <div *ngIf="submitted && form['status'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['status'].errors['required']">Status is required</div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Add Order</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->