
    <div class="container-fluid p-0">
        <div class="row g-0">

            <div class="col-xl-6">
                <div class="auth-full ">
                    <div class="w-100">
                        <div class="d-flex h-100 flex-column">
                                <div class="row justify-content-center">
                                            <img src="assets/images/esprit.jpg" alt="">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
           
            <div class="col-xl-6 p-4 mb-4">
                <div class="auth-full-page-content p-md-5 p-4">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5">
                                <a routerLink="/" class="d-block card-logo">
                                    <img src="assets/images/Logo_ESPRIT_Ariana.jpg" alt="" height="50">
                                </a>
                            </div>
                            <div class="my-auto">

                                <div>
                                    <h5 class="text-primary">Reset password</h5>
                                    <p class="text-muted">Enter your password to unlock the screen!</p>
                                </div>

                                <div class=" mt-4">

                                    <div class="user-thumb text-center mb-4">
                                        <img src="{{user_reset.pic}}"
                                            class="rounded-circle img-thumbnail avatar-md" alt="thumbnail">
                                        <h5 class="font-size-15 mt-3"> {{user_reset.firstName}} </h5>
                                    </div>

                                    <form [formGroup]="passChange" (ngSubmit)="onSubmit()">
                                        <div class="mb-3">
                                            <label for="newPassword">Password</label>
                                            <input type="password"  formControlName="newPassword" 
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" class="form-control" id="newPassword"
                                                placeholder="Enter password">
                                                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                    <div *ngIf="f.newPassword.errors.required">Password is required</div>
                                                    <div *ngIf="f.newPassword.errors.minlength">Password must be over 8 letters</div>
                                                    <div *ngIf="f.newPassword.errors.pattern">Password is must be mixed between letters , Numbers</div>
                                                  </div>
                                        </div>

                                        <div class="text-end">
                                            <button class="btn btn-danger w-md"
                                                type="submit">Change password</button>
                                        </div>
                                    </form>

                                    <div class="mt-5 text-center">
                                        <p>Not you ? return <a routerLink="/account/login-2"
                                                class="fw-medium text-primary"> Sign In </a> </p>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">©{{year}}Skote. Crafted with <i class="mdi mdi-heart text-danger"></i>
                                    by Themesbrand</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
</div>