<div class="container-fluid">
  
    <div class="row" >
      <div class="col-lg-12">
        <div class="card" style="margin-right: 10px; margin-left: 10px;">
          <div class="card-body" >
            <div class="invoice-title">
              <div class="auth-logo mb-4">
                <h2><strong>{{question.titre}}</strong></h2><br>
            </div>
            </div>
            <hr>
            <div class="row" >
              <div  style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; ">
                <div [innerHtml]="question.content" style="margin-left: 20px;"></div><br>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
    <div >
      <div class="card" style="margin-left: 100px; margin-right: 10px">
        <div class="card-body ">
          <div>
          <h3 >Reponses :</h3>
            <div >
              <div class="card" *ngIf="responses && responses.length > 0"></div>
              
              <div *ngFor="let response of responses">
                <div class="card">
                  <div class="content-container" style="display: flex; justify-content: space-between; align-items: center;">
                  <div [innerHTML]="response.content" style="margin-left: 20px;"></div>
                  <button type="button" class="btn btn-danger w-sm" style="width: 30px; margin-right: 8px;" (click)="onDeleteResponse(response.id)">
                    <i class="mdi mdi-trash-can font-size-16"></i> Delete
                  </button>
                  <button type="button" class="btn btn-success w-sm">
                    <i class="mdi mdi-pencil font-size-16"></i> Edit
                  </button>
                </div>
                <hr />
              </div>
            </div>
            </div>
         </div>
         </div>
         </div>
      </div>
    
  <div class="row" style="margin-left: 80px;">
    <div class="col-lg-12">
      <app-reponse [questionId]="question.id" (responseAdded)="onAddResponse()"></app-reponse>
    </div>
  </div>
  
   
  
  