.icon-button {
    width: 35px; /* Ajustez cette valeur selon vos besoins */
    height: 35px; /* Ajustez cette valeur selon vos besoins */
  }
  
  .icon {
    font-size: 15px; /* Ajustez cette valeur selon vos besoins */
  }