<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5 text-muted">
                    <a routerLink="/" class="d-block auth-logo">
                        <img src="assets/images/Logo_ESPRIT_Ariana.jpg" alt="" height="50">
                    </a>
                    <div class="p-2 ">
                        <h4>Verify your email</h4>
                        <p>We have sent you verification email <span class="fw-semibold text-danger">{{ user.login }} </span>, Please check it</p>
    
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body"> 
                        <div class="p-2">
                            <div class="text-center">
                                <div class="row">
                                
                            </div>
                            <div class="row">
                                <div class="avatar-lg mx-auto">
                                    <div class="avatar-title rounded-circle bg-light">
                                        <img src="assets/images/Mailbox.jpg" alt="" height="250">
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>Did't receive an email ? <a routerLink="/forgetPassword" class="fw-medium text-danger"> Resend </a> </p>
                    <p class="mb-0">©
                        2024 - École supérieure privée d'ingénierie et de technologie</p>
                </div>

            </div>
        </div>
    </div>
</div>