
<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Chnage Password" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form  [formGroup]="verifForm" (ngSubmit)="onSubmit()">
                        <div  *ngIf="isError" class="alert alert-danger text-center mb-4" role="alert">
                            Something went wrong try again !
                        </div>
                        <div class="row mb-4">
                            <label for="oldPass" class="col-sm-3 col-form-label">Old Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="oldPass" 
                                formControlName="oldPass" [ngClass]="{ 'is-invalid': submitted && form.oldPass.errors }">
                                <div *ngIf="submitted && form.oldPass.errors" class="invalid-feedback">
                                    <div *ngIf="form.oldPass.errors.required">Old Password is required</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <label for="newPass" class="col-sm-3 col-form-label">New Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="newPass"
                                formControlName="newPass" [ngClass]="{ 'is-invalid': submitted && form.newPass.errors }">
                                <div *ngIf="submitted && form.newPass.errors" class="invalid-feedback">
                                    <div *ngIf="form.newPass.errors.required">New Password is required</div>
                                    <div *ngIf="form.newPassword.errors.pattern">Password is must be mixed between letters , Numbers and */@</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="newPassConfirm" class="col-sm-3 col-form-label"> Confirm New Password </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="newPassConfirm"
                                formControlName="newPassConfirm" [ngClass]="{ 'is-invalid': submitted && form.newPassConfirm.errors }">
                                <div *ngIf="submitted && form.newPassConfirm.errors" class="invalid-feedback">
                                    <div *ngIf="form.newPassConfirm.errors.required">New Password confirm is required</div>
                                    <div *ngIf="form.newPassword.errors.pattern">Password is must be mixed between letters , Numbers and */@</div>
                                    <div *ngIf="form.newPassConfirm.errors.mismatch && form.newPassConfirm.touched">
                                        the confirmed password didnt match !
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-9">
                                <div>
                                    <button  class="btn btn-danger w-md">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div>
                    <button type="button" #myButton class="btn btn-primary" hidden>Popup form</button>
                </div>
                <!-- Modal Open -->
                <ng-template #content role="document" let-modal  >
                    <div class="modal-header">
                        <h5 class="modal-title mt-0">Form</h5>
                        <button type="button" class="btn-close" aria-hidden="true"
                            (click)="modalRef?.hide()"></button>
                    </div>
                    <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="card">
                    
                                        <div class="card-body">
                    
                                            <div class="p-2">
                                                <div class="text-center">
                    
                                                    <div class="avatar-md mx-auto">
                                                        <div class="avatar-title rounded-circle bg-light">
                                                            <i class="bx bxs-envelope h1 mb-0 text-primary"></i>
                                                        </div>
                                                    </div>
                                                    <div class="p-2 mt-4">
                    
                                                        <h4>Verify your email</h4>
                                                        <p class="mb-5">Please enter the 4 digit code sent to <span
                                                                class="fw-semibold">example@abc.com</span></p>
                    
                                                        <form [formGroup]="codeForm" (ngSubmit)="onchangePass()">

                                                                <div class="row">
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code1" 
                                                                    formControlName="code1" [ngClass]="{ 'is-invalid': submit && form1.code1.errors }">
                                                                    <div *ngIf="submit && form1.code1.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code1.errors.required">first number requis</div>
                                                                        <div *ngIf="form1.code1.errors.minlength || form1.code1.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code2" 
                                                                    formControlName="code2" [ngClass]="{ 'is-invalid': submit && form1.code2.errors }">
                                                                    <div *ngIf="submit && form1.code2.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code2.errors.required">Seconde number requis</div>
                                                                        <div *ngIf="form1.code2.errors.minlength || form1.code2.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code3" 
                                                                    formControlName="code3" [ngClass]="{ 'is-invalid': submit && form1.code3.errors }">
                                                                    <div *ngIf="submit && form1.code3.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code3.errors.required">Therd number requis</div>
                                                                        <div *ngIf="form1.code3.errors.minlength || form1.code3.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code4" 
                                                                    formControlName="code4" [ngClass]="{ 'is-invalid': submit && form1.code4.errors }">
                                                                    <div *ngIf="submit && form1.code4.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code4.errors.required">Fourth number requis</div>
                                                                        <div *ngIf="form1.code4.errors.minlength || form1.code4.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code5" 
                                                                    formControlName="code5" [ngClass]="{ 'is-invalid': submit && form1.code5.errors }">
                                                                    <div *ngIf="submit && form1.code5.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code5.errors.required">Fifth number requis</div>
                                                                        <div *ngIf="form1.code5.errors.minlength || form1.code5.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control" id="code5" 
                                                                    formControlName="code6" [ngClass]="{ 'is-invalid': submit && form1.code6.errors }">
                                                                    <div *ngIf="submit && form1.code6.errors" class="invalid-feedback">
                                                                        <div *ngIf="form1.code6.errors.required">Sixth number requis</div>
                                                                        <div *ngIf="form1.code6.errors.minlength || form1.code6.errors.maxlength"> only one number is required</div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        <div class="mt-4">
                                                            <div>
                                                                <button  class="btn btn-danger w-md">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    </div>
                    
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <p>Did't receive a code ? <a href="javascript: void(0);" class="fw-medium text-primary"> Resend </a> </p>
                                        <p>© {{year}} Skote. Crafted with <i
                                                class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                                    </div>
                    
                                </div>
                            </div>
                        
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end row -->
   
</div>