<div class="container-fluid">
    <app-page-title title="Jobs Grid" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
        <div class="col-lg-12">
            <div class="card job-filter">
                <div class="card-body p-3">
                    <div class="row g-3">
                        <div class="col-xxl-4 col-lg-4">
                            <div class="position-relative">
                                <input type="text" class="form-control" id="searchJob" autocomplete="off" placeholder="Search your job" [(ngModel)]="service.searchTerm">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-2 col-lg-4">
                            <div class="position-relative">
                                <input type="text" class="form-control" id="locationInput" autocomplete="off" placeholder="San Francisco, LA">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-2 col-lg-4">
                            <div class="position-relative">
                                <input type="text" class="form-control" id="jobCategories" autocomplete="off" placeholder="Job Categories">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-2 col-lg-6">
                            <div class="position-relative">
                                <div id="datepicker1">
                                    <input type="text"
                                    placeholder="Datepicker"
                                    class="form-control"
                                    bsDatepicker [bsConfig]="{ showWeekNumbers: false }">
                                </div><!-- input-group -->
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-xxl-2 col-lg-6">
                            <div class="position-relative h-100 hstack gap-3">
                                <button type="submit" class="btn btn-primary h-100 w-100"><i class="bx bx-search-alt align-middle"></i> Find Jobs</button>
                                <a href="javascript:void(0);" class="btn btn-secondary h-100 w-100" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                                aria-controls="collapseExample"><i class="bx bx-filter-alt align-middle"></i> Advance</a>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="collapse" id="collapseExample" [collapse]="isCollapsed">
                            <div class="pt-4">
                                <div class="row g-3">
                                    <div class="col-xxl-4 col-lg-6">
                                        <div>
                                            <label for="experience" class="form-label">Experience</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">All</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox2">Fresher</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
                                            <label class="form-check-label" for="inlineCheckbox3">1-2</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
                                            <label class="form-check-label" for="inlineCheckbox4">2-3</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option3">
                                            <label class="form-check-label" for="inlineCheckbox5">4+</label>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6">
                                        <div>
                                            <label for="jobType" class="form-label">Job Type</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                                            <label class="form-check-label" for="inlineCheckbox6">Full Time</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3">
                                            <label class="form-check-label" for="inlineCheckbox7">Part Time</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option3">
                                            <label class="form-check-label" for="inlineCheckbox8">Freelance</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option3">
                                            <label class="form-check-label" for="inlineCheckbox9">Internship</label>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-4">
                                        <div class="position-relative">
                                            <label for="qualificationInput" class="form-label">Qualification</label>
                                            <input type="text" class="form-control" id="qualificationInput" autocomplete="off" placeholder="Qualification">
                                            <i class="ri-government-line filter-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row" id="jobgrid-list">
        <div class="col-xl-3 col-md-6" *ngFor="let data of grids">
            <div class="card">
                <div class="card-body">
                    <div class="favorite-icon">
                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                    <img src="{{data.image}}" alt="" height="50" class="mb-3">
                    <h5 class="fs-17 mb-2"><a href="javascript:void(0);" class="text-dark">{{data.title}}</a> <small class="text-muted fw-normal">({{data.year}} Yrs Exp.)</small></h5>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <p class="text-muted fs-14 mb-1">{{data.company}}</p>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{data.location}}</p>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> {{data.price}} / month</p>
                        </li>
                    </ul>
                    <div class="mt-3 hstack gap-2">
                        <span class="badge rounded-1 badge-soft-success">Full Time</span>
                        <span class="badge rounded-1 badge-soft-warning">Urgent</span>
                        <span class="badge rounded-1 badge-soft-info">Private</span>
                    </div>
                    <div class="mt-4 hstack gap-2">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-soft-success w-100">View Profile</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-soft-primary w-100" (click)="openModal(content)">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div><!--end row-->
    
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example" id="pagination-element" class="mb-0">
                    <div class="pagination-block pagination pagination-rounded">
                        <pagination [totalItems]="(total | async)!" [(ngModel)]="service.page" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
                    </div>
                </nav>
            </div>
        </div><!--end col-->
    </div>
  </div>

 <!-- Order Create Model -->
 <ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="applyJobsLabel">Apply For This Job</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="fullnameInput" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullnameInput" placeholder="Enter your name">
                    </div>
                </div><!--end col-->
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                    </div>
                </div><!--end col-->
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="phoneNumberInput" class="form-label">Phone Number</label>
                        <input type="email" class="form-control" id="phoneNumberInput" placeholder="Enter your number">
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="uploadResume" class="form-label">Upload Resume</label>
                        <input type="file" class="form-control" id="uploadResume" placeholder="Upload resume">
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div class="mb-4">
                        <label for="messageInput" class="form-label">Message</label>
                        <textarea class="form-control" id="messageInput" rows="3" placeholder="Enter your message"></textarea>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div class="text-end">
                        <button class="btn btn-success me-1">Send Application <i class="bx bx-send align-middle"></i></button>
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </form>
    </div>
</ng-template>
  <!--End Modal -->
  