/* Ajoutez ces styles dans votre fichier CSS */

/* Styles pour les champs de formulaire */
.form-control {
    border: 1px solid #ced4da; /* Ajoute une bordure grise */
    border-radius: 0.25rem; /* Ajoute un petit arrondi aux coins */
  }
  
  /* Styles pour les boutons */
  .btn {
    border-radius: 0.25rem; /* Ajoute un petit arrondi aux coins */
  }
  
  /* Styles pour les icônes */
  .mdi {
    font-size: 1.2rem; /* Ajuste la taille des icônes */
  }
  
  /* Styles pour les liens */
  .btn-link {
    color: #0077B5; /* Utilise la couleur bleue de LinkedIn */
    text-decoration: none; /* Supprime le soulignement des liens */
  }
  
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
  