<form [formGroup]="formResponse">
<div class="container-fluid">
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body" style="padding-top: 50px;">
              <h5>Know someone who can answer? Share a link to this question via email, Twitter, or Facebook.</h5>
              <h3 class="card-title mb-3">Your Answer</h3>
              <ckeditor [editor]="Editor" data="<p>Content of the editor.</p>" formControlName="content" (ready)="onReady($event)"></ckeditor>
              <div style="color: #f46a6a;" *ngIf="formResponse.get('content').invalid && (formResponse.get('content').dirty || formResponse.get('content').touched)">
                <div *ngIf="formResponse.get('content').errors?.required">
                  Body is required!
                </div>
                <div *ngIf="formResponse.get('content').errors?.minlength">
                  Body must have at least 150 characters!
                </div>
              </div>
              <button type="submit" class="btn btn-danger mb-3 col-2 " style="margin-top: 20px;" (click)="onSubmit()">Post your answer</button>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  