<div>
    <div class="container-fluid p-0">
        <div class="row g-0">

            <div class="col-xl-6">
                <div class="auth-full ">
                    <div class="w-100">
                        <div class="d-flex h-100 flex-column">
                                <div class="row justify-content-center">
                                            <img src="assets/images/esprit.jpg" alt="">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

                        <div class="col-xl-6">
                            <div class="auth-full-page-content p-md-5 p-4">
                                <div class="w-100">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7">
                                    <div class="d-flex flex-column h-100">
                                        <div class="mb-4 mb-md-5">
                                            <a routerLink="/" class="d-block card-logo">
                                                <img src="assets/images/Logo_ESPRIT_Ariana.jpg" alt="" height="50">
                                            </a>
                                        </div>
                            <div class="my-auto">
                                <div>
                                    <h5 class="text-danger"> Reset Password</h5>
                                    <p class="text-muted">Reset Password with Skote.</p>
                                </div>

                                <div class="mt-4">
                                    <div class="alert alert-success text-center mb-4" role="alert" *ngIf="error==''">
                                        Enter your Email and instructions will be sent to you!
                                    </div>
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()"
                                    >
                                    <div class="alert alert-danger text-center mb-4" role="alert" *ngIf="error!=''">
                                        Enter your Email and instructions will be sent to you!
                                    </div>
                                        <div class="mb-3">
                                            <label for="useremail">Email</label>
                                            <input type="email" formControlName="email" 
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="useremail"
                                                placeholder="Enter email">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                                  </div>
                                        </div>

                                        <div class="text-end">
                                                <button class="btn btn-danger w-md"
                                                    type="submit">Reset</button>
                                            </div>

                                    </form>
                                    <div class="mt-5 text-center">
                                        <p>Remember It ? <a routerLink="/authentication"
                                                class="fw-medium text-danger"> Sign In here</a> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">©
                                    {{year}} - École supérieure privée d'ingénierie et de technologie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>