<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Basic Wizard</h4>
          <div id="basic-example">
            <ng-stepper #cdkStepper [linear]="true" class="wizard">
  
              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number">1.</span>
                  <span>Détails de stage</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 0">
                    <form (ngSubmit)="onSubmit($event)">
                        <div class="mb-3 row">
                          <label for="formrow-firstname-input" class="col-md-2 col-form-label"
                            >Nom de société</label
                          >
                          <div class="col-md-10">
                          <input
                            type="text"
                            class="form-control"
                            id="formrow-firstname-input"
                            name="nomSociete"
                            [(ngModel)]="nomSociete"
                          />
                          </div>
                        </div>
            
                        <div class="mb-3 row">
                          <label for="formrow-tel-input" class="col-md-2 col-form-label"
                            >Numéro de tel</label
                          >
                          <div class="col-md-10">
                          <input
                            type="text"
                            class="form-control"
                            id="formrow-tel-input"
                            name="numSociete"
                            [(ngModel)]="numSociete"
                          />
                          </div>
                        </div>
            
                        <div class="mb-3 row">
                          <label for="formrow-email-input" class="col-md-2 col-form-label"
                            >Email de société</label
                              >
                          <div class="col-md-10">
                          <input
                            type="email"
                            class="form-control"
                            id="formrow-email-input"
                            name="emailSociete"
                            [(ngModel)]="emailSociete"
                          />
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="formrow-nom-encadrant-input" class="col-md-2 col-form-label"
                            >Nom de l'encadrant</label
                          >
                          <div class="col-md-10">
                          <input
                            type="text"
                            class="form-control"
                            id="formrow-nom-encadrant-input"
                            name="nomCoach"
                            [(ngModel)]="nomCoach"
                          />
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="formrow-prenom-encadrant-input" class="col-md-2 col-form-label"
                            >Prénom de l'encadrant</label
                          >
                          <div class="col-md-10">
                          <input
                            type="text"
                            class="form-control"
                            id="formrow-prenom-encadrant-input"
                            name="prenomCoach"
                            [(ngModel)]="prenomCoach"
                          />
                          </div>
                        </div>
            
                        <div class="mb-3 row">
                          <label for="formrow-tel-input2" class="col-md-2 col-form-label"
                            >Numéro tel encadrant</label
                          >
                          <div class="col-md-10">
                          <input
                            type="text"
                            class="form-control"
                            id="formrow-tel-input2"
                            name="numCoach"
                            [(ngModel)]="numCoach"
                          />
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="formrow-email-input2" class="col-md-2 col-form-label"
                            >Email de l'encadrant</label
                          >
                          <div class="col-md-10">
                            <input
                              type="email"
                              class="form-control"
                              id="formrow-email-input2"
                              name="emailCoach"
                              [(ngModel)]="emailCoach"
                            />
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="example-date-input" class="col-md-2 col-form-label"
                            >Date début</label
                          >
                          <div class="col-md-10">
                            <input
                              class="form-control"
                              type="date"
                              id="example-date-input"
                              name="startAt"
                              [(ngModel)]="startAt"
                            />
                          </div>
                        </div>
            
                        <div class="mb-3 row">
                          <label for="example-date-input2" class="col-md-2 col-form-label"
                            >Date fin</label
                          >
                          <div class="col-md-10">
                            <input
                              class="form-control"
                              type="date"
                              id="example-date-input2"
                              name="endAt"
                              [(ngModel)]="endAt"
                            />
                          </div>
                        </div>
            
                        <div class="mb-3 row">
                          <label class="col-md-2 col-form-label">Select</label>
                          <div class="col-md-10">
                            <select class="form-select" [(ngModel)]="type" name="type">
                              <option>FORMATION_HUMAINE_SOCIALE</option>
                              <option>IMMERSION_ENTREPRISE</option>
                              <option>INGENIEUR</option>
                              <option>NON_OBLIGATOIRE</option>
                            </select>
                          </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                          </div>
                      </form>
                </section>
              </cdk-step>
  
              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">2.</span>
                  <span>Demande de stage</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 1">
                    <div>
                        <button (click)="afficherDemandeDeStage()" class="btn btn-primary">Demande de stage</button>
                      </div>
                      <div *ngIf="demandeDeStageContent">
                        <div [innerHTML]="demandeDeStageContent"></div>
                      </div>
                </section>
              </cdk-step>
  
              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">3.</span>
                  <span>Déposer le rapport</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 2">

                    <div>
                        <form>
                          <ngx-dropzone class="dropzone" (change)="onSelect($event)" [accept]="'image/*'">
                            <ngx-dropzone-label class="dz-message needsclick">
                                <div class="mb-3">
                                    <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                </div>
            
                                <h5>Drop files here or click to upload.</h5>
                            </ngx-dropzone-label>
                        </ngx-dropzone>
                        <ngx-dropzone-preview *ngIf="imageURL" class="border rounded" [removable]="true" (removed)="onRemove()">
                            <ngx-dropzone-label>
                                <div class="d-flex p-2">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-sm bg-light rounded">
                                            <img class="img-fluid rounded d-block" src="{{imageURL}}" alt="Dropzone-Image">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div class="pt-1">
                                            <strong class="error text-danger"></strong>
                                        </div>
                                    </div>
                                </div>
                            </ngx-dropzone-label>
                        </ngx-dropzone-preview>
                        <!-- end dropzon-preview -->
                        </form>
                      </div>
                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-primary">Send Files</button>
                      </div>
                  
                </section>
              </cdk-step>
  
              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">4.</span>
                  <span>Confirm Detail</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 3">
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                      <div class="text-center">
                        <div class="mb-4">
                          <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                        </div>
                        <div>
                          <h5>Confirm Detail</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Finish</button></li>
                  </ul>
                </section>
              </cdk-step>
  
            </ng-stepper>
          </div>
  
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->