<div class="container-fluid">
  <app-page-title title="Form Advanced" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Select2</h4>
                <p class="card-title-desc">A mobile and touch friendly input spinner component for
                    Bootstrap</p>

                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Single Select</label>
                                <ng-select [items]="selectValue"></ng-select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label class="form-label">Multiple Select</label>
                            <ng-select [items]="selectValue" [multiple]="true"></ng-select>
                          </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- end select2 -->
    </div>
</div>
<!-- end row -->

  <div class="row">
    <!-- Color picker -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Colorpicker</h4>
          <p class="sub-header">Bootstrap Colorpicker is a modular color picker plugin for Bootstrap 4</p>

          <div class="mb-3">
            <label>Simple input field</label>
            <input type="text" class="colorpicker-default form-control" [value]="color" [(colorPicker)]="color"
              [cpOutputFormat]="'hex'" [cpPosition]="'bottom'">
          </div>

          <div class="mb-3">
            <label>With custom options - RGBA</label>
            <input type="text" class="colorpicker-default form-control" [value]="rgbcolor" [(colorPicker)]="rgbcolor"
              [cpOutputFormat]="'rgba'" [cpPosition]="'bottom'">
          </div>

          <div class="mb-3">
            <label>As Component</label>
            <div id="component-colorpicker" class="input-group" title="Using format option">
              <input type="text" class="form-control input-lg" [value]="componentcolor">
              <span class="input-group-text">
                <span class="input-group-text colorpicker-input-addon" [style.background]="componentcolor"
                  [(colorPicker)]="componentcolor" [cpPosition]="'bottom'"><i></i></span>
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label>Preset Color</label>
            <input type="text" class="colorpicker-default form-control" [value]="presetcolor"
              [(colorPicker)]="presetcolor" [cpDisableInput]="true"
              [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']">
          </div>

          <div class="mb-3">
            <label>Inline</label>
            <span [style.background]="inlinecolor" [cpToggle]="true" [cpDialogDisplay]="'inline'"
              [cpDisableInput]="true" [(colorPicker)]="inlinecolor"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End color picker -->

    <!-- Date picker -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Date Picker</h4>
          <p class="sub-header">Examples of bootstrap datepicker.</p>

          <div>
            <div class="mb-3">
              <label>Default Picker</label>
              <div class="input-group clockpicker">
                <input bsDatepicker class="form-control" autoClose="false" placeholder="yyyy-mm-dd">
                <!-- <div class="input-group-append" (click)="date.toggle()">
                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div> -->
              </div>
            </div>

            <div class="mb-3">
              <label>Auto close</label>
              <div class="input-group clockpicker">
                <input bsDatepicker class="form-control" placeholder="yyyy-mm-dd" >
                <!-- <div class="input-group-append" (click)="d.toggle()">
                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div> -->
              </div>
            </div>

            <div class="mb-3">
              <label>Date Range</label>

              <input type="text" class="form-control date" (click)="hidden=!hidden" name="daterange" autocomplete="off"
                [(ngModel)]="selected" bsDaterangepicker/>

            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">

            <h4 class="card-title">Timepicker</h4>
            <p class="card-title-desc">Easily select a time for a text input using your mouse or
                keyboards arrow keys.</p>

            <form action="#">
                <div class="mb-3">
                    <label class="form-label">Default Time Picker</label>
                    <div class="input-group" id="timepicker-input-group1">
                      <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                      [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                    </div>
                </div>
            </form>
        </div>
      </div>

    </div>
    <!-- End datepicker -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Css Switch</h4>
                <p class="card-title-desc">Here are a few types of switches. </p>

                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="font-size-14 mb-3">Example switch</h5>
                        <div>
                          <ui-switch  color="#556ee6"  [checked]="true" uncheckedLabel="off" checkedLabel="on" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#a2a2a2"  [checked]="true" uncheckedLabel="off" checkedLabel="on" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#556ee6"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#a2a2a2"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#34c38f"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#50a5f1"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#f1b44c"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="#f46a6a"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                          <ui-switch  color="##343a40"  [checked]="true" uncheckedLabel="No" checkedLabel="Yes" size="small" class="me-1"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end row -->

</div>
